#!{{.FontForge}} -script

Print("Generate modified Migu 1M")

# Set parameters
input_list  = [{{.Inputs}}]
output_list  = [{{.Outputs}}]
square = "{{.Square}}"

# Begin loop of regular and bold
i = 0
while (i < SizeOf(input_list))
    # Open Migu 1M
    Print("Open " + input_list[i])
    Open(input_list[i])
    SelectWorthOutputting()
    UnlinkReference()
    ScaleToEm({{.Ascent}}, {{.Descent}})

    if (square == "true")
        # Move to fit new scale proportion
        Print("Move to fit new scale proportion (it may take a few minutes)")
        SelectWorthOutputting()
        Move(0, {{.Padding}})
        Print("Scale down to fit alphabets")
        Scale({{.Scale}})
        SetWidth({{.Width}})
    else
        # Scale down all glyphs
        Print("Move all glyphs to center (it may take a few minutes)")
        SelectWorthOutputting()
        Move({{.Padding}}, 0); SetWidth({{.Padding}}, 1)
    endif

    # Set Hankaku width to Hankaku Kana
    Print("Set Hankaku width to Hankaku Kana")
    j = 0uff60
    while (j <= 0uff9f)
        j += 1
        Select(j)
        if (square != "true")
          Move(-{{.HankakuPadding}})
        endif
        SetWidth({{.HankakuWidth}})
    endloop

    # Move left some glyphs
    Select(0uff5f); Move(-{{.HalfHankakuWidth}}, 0)
    Select(0uff60); Move(-{{.HalfHankakuWidth}}, 0)

    RoundToInt(); RemoveOverlap(); RoundToInt()

    # Clear instructions
    Print("Clear instructions")
    SelectWorthOutputting()
    ClearInstrs()

    # Save modified Migu 1M
    Print("Save " + output_list[i])
    Save(output_list[i])
    Close()

    i += 1
endloop

Quit()

# vim:se ft=fontforge_script.gotexttmpl:
