#!{{.FontForge}} -script

Print("Generate modified Migu 1M")

# Set parameters
input_list  = ["{{.SrcRegular}}", "{{.SrcBold}}"]
output_list = ["{{.DstRegular}}", "{{.DstBold}}"]

# Begin loop of regular and bold
i = 0
while (i < SizeOf(input_list))
    # Open Migu 1M
    Print("Open " + input_list[i])
    Open(input_list[i])
    SelectWorthOutputting()
    UnlinkReference()
    ScaleToEm(860, 140)

    # Scale down all glyphs
    if ("{{.ScaleDown}}" == "true")
        Print("Scale down all glyphs (it may take a few minutes)")
        SelectWorthOutputting()
        SetWidth(-1, 1); Scale(91, 91, 0, 0); SetWidth(110, 2); SetWidth(1, 1)
        Move(23, 0); SetWidth(-23, 1)
        RoundToInt(); RemoveOverlap(); RoundToInt()
    endif

    # Clear instructions
    Print("Clear instructions")
    SelectWorthOutputting()
    ClearInstrs()

    # Save modified Migu 1M
    Print("Save " + output_list[i])
    Save("{{.DstDir}}/" + output_list[i])
    Close()

    i += 1
endloop

Quit()
